; === Configuration file for vessel class  ===
; === to handle the chute after separation

ClassName = ARTEMIS_CHUTE
MeshName =  ARTEMIS//ARTEMISMAINCHUTE

Mass = 200
Size = 20
CW = 3 3 0.1 0.1
RotResistance = 1 1 1

TouchdownPoints = 0 1 0   40 20 50   -40 20 50   0 60 50  
;TouchdownPoints = 0 1 0   20 20 50   -20 20 50   0 28 50  



